<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>AARS Kalender</title>
    <!-- BOOTSTRAP AND RELATED TOOLS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- VUEJS -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- ADDITIONAL CSS-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper" id="app">
      <header>
        <h1>AARS Kalender</h1>
        <p>“Anonymous for Animal Rights Switzerland” setzt sich für die Rechte der Tiere ein. Auf der Strasse bilden wir einen “Cube” und zeigen den Menschen mit Schweizer Aufnahmen, was hinter den Tierprodukten steckt. Mit interessierten Passanten führen wir Gespräche, wobei im Vordergrund die ethischen Aspekte und die Verantwortung jeder einzelnen Person stehen.</p>
	<p>Masken, Schilder und Visitenkarten werden zur Verfügung gestellt. Achte bitte auf eine schwarze/möglichst dunkle Kleidung und bring, wenn möglich, ein Laptop/Tablet mit den entsprechenden Aufnahmen mit. Teste vorab, wie das Video in der Endlosschleife abgespielt und die Helligkeit auf dem Gerät auf höchster Stufe eingestellt wird.</p>
	<p>Das Cube Video, unseren Outreach Guide und weitere Ressourcen findest du <a href="https://bit.ly/m/aars">hier</a>.</p>
	<p>Bring zur Aktion bitte möglichst wenig Gepäck mit. Alle zum Cube mitgebrachten Gegenstände unterliegen deiner eigenen Verantwortung. Das Organisationsteam kann dafür keine Verantwortung übernehmen.</p>
	<p>Nach dem Cube gehen wir gerne noch gemeinsam essen/trinken und tauschen uns aus.</p>
	<p>Danke für deinen Einsatz!</p>
      </header>
      <section>
        <div class="container">
                <!--ENTRY START-->
		<template v-for="event in eventData">
			<br v-if="eventIsCurrent(event.eDate)"/>
			<div class="row" v-if="eventIsCurrent(event.eDate)">
				<div class="col-2">
					<h1><span class="badge badge-secondary"><span v-html="getEventDay(event.eDate)"></span></span></h1>
					<p><span v-html="getEventMonth(event.eDate)"></span><p>
				</div>
				<div class="col-10">
					<h3 class="text-uppercase"><strong>{{ event.name }}</strong></h3>
					<ul class="list-inline">
				    		<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ event.eDate }}</li>
						<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.timeStr }}</li>
						<span v-html="getLocationHTML(event.eLocation)"></span>
					</ul>
				</div>
			</div>
		</template>
                <!--ENTRY END-->
                <a target="_blank" href="https://calendar.google.com/calendar/embed?src=ac777afc379bf8bb3957cda6dbcd8240e31e90023c3593823e23b2018c059d7c%40group.calendar.google.com&ctz=Europe%2FParis" class="btn btn-primary" role="button">Als Google Kalender anzeigen</a>
	</div>
      </section>
      <footer>
        <!--<p>Eine Anleitung zum Cube und weitere Ressourcen findest du <a target="_blank" href="https://bit.ly/m/aars">hier</a>.</p>-->
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script>
    var app = new Vue({
	el: '#app',
    	data: {
		currentDate: new Date().setHours(0, 0, 0, 0),
		eventData: [
			{ eDate: "2023-11-25", name: "Cube in Zürich", timeStr: "13:45 - 17:00", eLocation: "Züghusplatz" },
			{ eDate: "2024-03-02", name: "Cube in Aarau", timeStr: "13:45 - 17:00", eLocation: "Igelweid" },
			{ eDate: "2024-03-23", name: "Cube in Zürich", timeStr: "13:45 - 17:00", eLocation: "Züghusplatz" },
			{ eDate: "2024-04-20", name: "Cube in Zürich", timeStr: "13:45 - 17:00", eLocation: "Hirschenplatz" },
			{ eDate: "2024-04-27", name: "Cube in Aarau", timeStr: "13:45 - 17:00", eLocation: "Igelweid" },
			{ eDate: "2024-05-18", name: "Cube in Zürich", timeStr: "13:45 - 17:00", eLocation: "Züghusplatz" },
			{ eDate: "2024-05-25", name: "Cube in Aarau", timeStr: "13:45 - 17:00", eLocation: "Igelweid" },
			{ eDate: "2024-06-22", name: "[abgesagt] Cube in Zürich", timeStr: "13:45 - 17:00", eLocation: "Hirschenplatz" },
			{ eDate: "2024-06-29", name: "Cube in Aarau", timeStr: "13:45 - 17:00", eLocation: "Igelweid" },
			{ eDate: "2024-07-20", name: "Cube in Zürich", timeStr: "13:45 - 17:00", eLocation: "Bellevue" },
			{ eDate: "2024-07-27", name: "[provisorisch] Cube in Aarau", timeStr: "13:45 - 17:00", eLocation: "Igelweid" },
			{ eDate: "2024-08-24", name: "Cube in Zürich", timeStr: "13:45 - 17:00", eLocation: "Bellevue" },
			{ eDate: "2024-08-31", name: "[provisorisch] Cube in Aarau", timeStr: "13:45 - 17:00", eLocation: "Igelweid" },
			{ eDate: "2024-09-21", name: "Cube in Zürich", timeStr: "13:45 - 17:00", eLocation: "Hirschenplatz" },
			{ eDate: "2024-09-28", name: "[provisorisch] Cube in Aarau", timeStr: "13:45 - 17:00", eLocation: "Igelweid" },
			{ eDate: "2024-10-19", name: "Cube in Zürich", timeStr: "13:45 - 17:00", eLocation: "Züghusplatz" },
			{ eDate: "2024-10-26", name: "[provisorisch] Cube in Aarau", timeStr: "13:45 - 17:00", eLocation: "Igelweid" }
		]
        },
        methods: {
        	eventIsCurrent: function (eventDate) {
        		var eDateParts = eventDate.split('-');
        		var eDateObj = new Date(eDateParts[0], eDateParts[1] - 1, eDateParts[2]);
        		return this.currentDate <= eDateObj.getTime(); // getTime implicit on this.currentDate
        	},
        	getLocationHTML: function (eventLocationID) {
			var locationHTML = "";
			switch (eventLocationID) {
				case "Züghusplatz":
					locationHTML = "<li class='list-inline-item'><i class='fa fa-location-arrow' aria-hidden='true'> <a target='_blank' href='https://maps.app.goo.gl/vFZEtNKQBbDjfG9VA'>Züghusplatz</a></li>";
					break;
				case "Bellevue":
					locationHTML = "<li class='list-inline-item'><i class='fa fa-location-arrow' aria-hidden='true'> <a target='_blank' href='https://maps.app.goo.gl/9iWubHDUifcqybPf9'>Bellevue</a></li>";
					break;
                                case "Igelweid":
                                        locationHTML = "<li class='list-inline-item'><i class='fa fa-location-arrow' aria-hidden='true'> <a target='_blank' href='https://maps.app.goo.gl/f8c4833enDBUP7EZ8'>Igelweid</a></li>";
                                        break;
                                case "Hirschenplatz":
                                        locationHTML = "<li class='list-inline-item'><i class='fa fa-location-arrow' aria-hidden='true'> <a target='_blank' href='https://maps.app.goo.gl/aLUemvAVwHh3KfgYA'>Hirschenplatz</a></li>";
                                        break;
			}
			return locationHTML;
        	},
        	getEventDay: function (eventDate) {
			var eDateParts = eventDate.split('-');
			return eDateParts[2];
        	},
        	getEventMonth: function (eventDate) {
			var eDateParts = eventDate.split('-');
			var eventMonth = "";
			switch (eDateParts[1]) {
                                case "01":
                                        eventMonth = "JAN";
                                        break;
                                case "02":
                                        eventMonth = "FEB";
                                        break;
                                case "03":
                                        eventMonth = "MÄR";
                                        break;
                                case "04":
                                        eventMonth = "APR";
                                        break;
                                case "05":
                                        eventMonth = "MAI";
                                        break;
                                case "06":
                                        eventMonth = "JUN";
                                        break;
                                case "07":
                                        eventMonth = "JUL";
                                        break;
                                case "08":
                                        eventMonth = "AUG";
                                        break;
                                case "09":
                                        eventMonth = "SEP";
                                        break;
                                case "10":
                                        eventMonth = "OKT";
                                        break;
				case "11":
					eventMonth = "NOV";
					break;
                                case "12":
                                        eventMonth = "DEZ";
                                        break;
			}
			return eventMonth;
        	}
        }
    });
    </script>
  </body>
</html>
