.badge {
    border: 2px solid var(--text-color);
    border-radius: var(--edge-radius);
    padding: 12px;
    width: fit-content;
}

.badge-small {
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
}

.badge-primary {
    background-color: var(--text-color);
    color: var(--background);
}

.badge-warn {
    border: none;
    background-color: var(--warn);
}

.badge-error {
    border: none;
    background-color: var(--error);
}

.badge-big {
    font-size: 21px;
    font-weight: 500;    
}
