---
---

@import "{{ site.theme }}";

header {
  display: none;
}

section {
  width: 100%;
  float: left; 
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

footer {
  display: none;
}

p.view {
  display: none;
}
