---
---

@import "{{ site.theme }}";

/* hide elements from the default template*/
header {
  display: none;
}

footer {
  display: none;
}

p.view {
  display: none;
}

/* stretch the content to fill the page */
section {
  width: 100%;
  float: left; 
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  color: #404040;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  margin-top: 100px;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-top: 50px;
}

ul {
  margin-bottom: 1px;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
}
