---
---

@import "{{ site.theme }}";

/* hide elements from the default template*/
header {
  display: none;
}

footer {
  display: none;
}

p.view {
  display: none;
}

/* stretch the content to fill the page */
section {
  width: 100%;
  float: left; 
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  color: #404040;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}
